{erl_opts, [debug_info]}.

{deps, [
    {enacl,  {git, "https://github.com/jlouis/enacl.git",      {tag, "v0.14.0"}}},
    {base32, {git, "https://github.com/ahf/base32_erlang.git", {branch, "master"}}},
    {gproc,  {git, "https://github.com/uwiger/gproc.git",      {branch, "master"}}}
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.

{profiles, [
    {test, [
        {deps, [
            {triq, {git, "https://github.com/krestenkrab/triq.git", {branch, "master"}}}
        ]}
    ]}
]}.

%% vim: set ft=erlang :
