{erl_opts, [
    warn_bif_clash,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_exported_vars,
    warn_format,
%%    warn_missing_spec,
%%    warn_untyped_record,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_function,
    warn_unused_record,
    warn_unused_vars,

    warning_as_errors,

    debug_info
]}.

{minimum_otp_vsn, "19.1"}.

{deps, [
    {enacl,         {git, "https://github.com/tallaproject/enacl.git",         {branch, "master"}}},
    {ed25519_ref10, {git, "https://github.com/tallaproject/ed25519-ref10.git", {branch, "develop"}}},
    {base32,        {git, "https://github.com/tallaproject/base32_erlang.git", {branch, "master"}}},

    {gproc,         {git, "https://github.com/uwiger/gproc.git",               {branch, "master"}}},
    {inet_cidr,     {git, "https://github.com/benoitc/inet_cidr.git",          {branch, "master"}}}
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -s -C c_src"},
    {"(freebsd)", compile, "gmake -s -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -s -C c_src clean"},
    {"(freebsd)", clean, "gmake -s -C c_src clean"}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.2.0"}
        ]},

        {eunit_opts, [
            verbose,
            {report, {eunit_progress, [colored, profile]}}
        ]}
    ]},

    {docs, [
        {deps, [
            {edown, {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
        ]},

        {edoc_opts, [
            {doclet, edown_doclet},
            {top_level_readme, {"./README.md", "https://lab.baconsvin.org/talla/onion"}},
            {todo, true},
            {report_missing_types, true},
            {source_path, ["src"]},
            {stylesheet, ""},
            {image, ""},
            {app_default, "http://www.erlang.org/doc/man"}
        ]}
    ]}
]}.

{plugins, [
    {rebar3_proper, {git, "https://github.com/ferd/rebar3_proper.git", {branch, "master"}}}
]}.

%% vim: set ft=erlang :
